p {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    margin: 0 0 1.15rem 0;
}
p:last-child {
    margin: 0;
  }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin: 0 0 1.15rem 0;
  color: #051922;
}

@media only screen and (max-width: 767.96px) {
    h1, .h1 {
      font-size: 3rem;
      line-height: 3.25rem;
    }
  }
  
  @media only screen and (max-width: 575.96px) {
    h1, .h1 {
      font-size: 2.5rem;
      line-height: 2.75rem;
    }
  }
  
  h2, .h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.25rem;
  }
  
  @media only screen and (max-width: 767.96px) {
    h2, .h2 {
      font-size: 2.5rem;
      line-height: 2.75rem;
    }
  }
  
  @media only screen and (max-width: 575.96px) {
    h2, .h2 {
      font-size: 2rem;
      line-height: 2.25rem;
    }
  }
  
  h3, .h3 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.25rem;
  }
  
  @media only screen and (max-width: 575.96px) {
    h3, .h3 {
      font-size: 1.75rem;
      line-height: 2rem;
    }
  }
  
  h4, .h4 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.75rem;
  }
  
  @media only screen and (max-width: 575.96px) {
    h4, .h4 {
      font-size: 1.25rem;
      line-height: 1.5rem;
    }
  }
  
  h5, .h5 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5rem;
  }
  
  h6, .h6 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
  }

hr{
    height:3px;
    border-width:0;
    color:black;
    background-color:black;
    margin-top: 0.2em;
    /* margin-bottom: 0.5em; */
}
